body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url("sac.jpeg");
}


.chat-container {
    max-width: 600px;
    margin: auto;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-window {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid white;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 9px;
    
}

.user-message {
    background-color: #e1ffc7;
    align-self: flex-end;
}

.other-user-message {
    background-color: #d1e7ff;
}

.input-area {
    display: flex;
    padding: 9px;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #ddd;
}

#sendButton {
    padding: 10px 19px;
    border-radius: 9px;
    border:none;
    background-color: rgb(41, 115, 189); 
    color: white;
    cursor: pointer;
}

#sendButton:hover {
    background-color: aqua;
}